@import url(https://fonts.googleapis.com/css?family=Rancho|Oswald);
body {
  padding-top: 80px !important; }

#aho-global-top-nav {
  height: 48px;
  background: -moz-linear-gradient(top, #fef2d9 0%, white 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef2d9), color-stop(100%, white)) !important;
  background: -webkit-linear-gradient(top, #fef2d9 0%, white 100%) !important;
  background: -o-linear-gradient(top, #fef2d9 0%, white 100%) !important;
  background: -ms-linear-gradient(top, #fef2d9 0%, white 100%) !important;
  background: linear-gradient(to bottom, #fef2d9 0%, white 100%) !important;
  border-bottom: 10px solid;
  -webkit-box-shadow: 0 8px 6px -6px #666666 !important;
  -moz-box-shadow: 0 8px 6px -6px #666666 !important;
  box-shadow: 0 8px 6px -6px #666666 !important;
  margin: 0 auto !important;
  padding: 15px 0 0 0 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; }
  #aho-global-top-nav * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: normal !important; }
  #aho-global-top-nav #nav-inside {
    margin: 0 auto !important;
    text-align: center !important;
    width: 1000px !important;
    position: relative !important; }
  #aho-global-top-nav ul {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important; }
    #aho-global-top-nav ul li {
      display: inline-block !important;
      list-style: none !important;
      margin: 0 !important;
      padding: 0 !important; }
      #aho-global-top-nav ul li span.ah {
        display: inline-block !important;
        margin-right: 10px !important;
        position: relative !important;
        top: 3px !important;
        text-align: center !important; }
      #aho-global-top-nav ul li a {
        text-decoration: none !important; }
    #aho-global-top-nav ul#info-nav {
      position: absolute !important;
      font-size: 0.83em !important;
      top: -10px !important;
      right: 0 !important; }
      #aho-global-top-nav ul#info-nav a {
        color: #c5453e !important;
        margin: 0 5px !important; }
    #aho-global-top-nav ul#sponsors-nav {
      position: relative !important;
      margin: 0 20px !important;
      bottom: 7px !important; }
      #aho-global-top-nav ul#sponsors-nav li {
        margin: 0 5px !important; }
        #aho-global-top-nav ul#sponsors-nav li a img {
          height: 30px !important; }
    #aho-global-top-nav ul#account-nav {
      float: right !important; }
      #aho-global-top-nav ul#account-nav a {
        color: #c5453e;
        font-family: "Rancho", serif !important;
        font-size: 22px !important;
        margin: 0 10px !important;
        position: relative !important;
        top: 15px !important; }
        #aho-global-top-nav ul#account-nav a.tell-a-friend {
          background: url(nav-tell.png) no-repeat 0 7px !important;
          padding-left: 22px !important; }
    #aho-global-top-nav ul#sites-nav a {
      display: inline-block !important; }
