@import "https://fonts.googleapis.com/css?family=Rancho|Oswald"

$red: #c5453e

body
    padding-top: 100px !important

#aho-global-top-nav
    font: 1em Arial, Helvetica, sans-serif !important
    height: 48px
    background: -moz-linear-gradient(top,  #fef2d9 0%, #ffffff 100%) !important
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef2d9), color-stop(100%,#ffffff)) !important
    background: -webkit-linear-gradient(top,  #fef2d9 0%,#ffffff 100%) !important
    background: -o-linear-gradient(top,  #fef2d9 0%,#ffffff 100%) !important
    background: -ms-linear-gradient(top,  #fef2d9 0%,#ffffff 100%) !important
    background: linear-gradient(to bottom,  #fef2d9 0%,#ffffff 100%) !important
    border-bottom: 10px solid
    -webkit-box-shadow: 0 8px 6px -6px #666 !important
    -moz-box-shadow: 0 8px 6px -6px #666 !important
    box-shadow: 0 8px 6px -6px #666 !important
    margin: 0 auto !important
    padding: 15px 0 0 0 !important
    position: absolute !important
    top: 0 !important
    left: 0 !important
    width: 100% !important
    
    *
        margin: 0
        padding: 0
        border: 0
        outline: 0
        font-weight: inherit
        font-style: inherit
        font-size: 100%
        font-family: inherit
    
    #nav-inside
        margin: 0 auto !important
        width: 1000px !important
        position: relative !important
    
    ul
        display: inline-block !important
        margin: 0 !important
        padding: 0 !important
        
        li
            display: inline-block !important
            list-style: none !important
            margin: 0 !important
            padding: 0 !important
            
            span.ah
                display: inline-block !important
                margin-right: 10px !important
                position: relative !important
                top: 3px !important
                text-align: center !important
            
            a
                text-decoration: none !important
                    
        &#info-nav
            position: absolute !important
            font-size: 0.83em !important
            top: -10px !important
            right: 0 !important
            
            a
                color: $red !important
                margin: 0 5px !important
                
        &#sponsors-nav
            vertical-align: bottom !important
            position: relative !important
            margin: 0 20px !important
            bottom: 5px !important
            
            li
                margin: 0 5px !important
                a
                    img
                        height: 30px !important
        
        &#account-nav
            float: right !important
            
            a
                color: $red
                font-family: 'Rancho', serif !important
                font-size: 22px !important
                margin: 0 10px !important
                position: relative !important
                top: 15px !important
                
                &.tell-a-friend
                    background: url(nav-tell.png) no-repeat 0 7px !important
                    padding-left: 22px !important
                
        &#sites-nav
            a
                display: inline-block !important